{% extends "base.html" %}
{% block main %}
<div id="profile-container">
    <div id="top-half">
        <div id="profile-picture">
            <img src="{{ url_for('static', filename='profile.png')}}">
        </div>
        <h1>Jordan Barrett</h1>
        <p>Kingston, Jamaica</p>
        <p>Joined {{ join_date }}</p>
    </div>
    <div id="bottom-half">
        <div id='profile-description'>
            <p>I am a Computer Science major. I enjoy looking at statistical figures. I also enjoy practising Spanish and reading about Economics.</p>
        </div>
        <div id='profile-stats'>
            <ul>
                <li>7</li>
                <li>100</li>
                <li>250</li>
            </ul>
            <ul>
                <li>Posts</li>
                <li>Following</li>
                <li>Followers</li>
            </ul>
        </div>
        <button type='button' id='follow-button'>Follow</button>
    </div>
</div>
{% endblock %}